
<h1 class="display-6 mb-4 mt-5 mx-3" > All Companies </h1>

<%=  form_with(url: search_companies_path, method: "get", local:true) do |form|  %>
        <div class="d-flex">
        <%=  text_field_tag(:keywords, nil, class: "form-control me-2", placeholder: "Search for Companies") %>
        <%= submit_tag("Search", class: "btn btn-outline-success") %>

        </div>
      <% end %>

<ol class="list-group list-group-flush mt-5" >
<% @companies.each do |company| %>

<li class="list-group-item" > <%= link_to company.name, company  %> </li>

<% end %>
</ol>

<nav aria-label="Page navigation example">
  <ul class="pagination">
  <% for i in 0..@numberOfPages-1 do%>
<li class="page-item"> <div class="page-link" href="#"> <%= link_to i, companies_path(page: i)  %> </div> </li>

  <%end %>

  </ul>
</nav>